<%- include('partials/header') %>

<% if(scrollPg){ %>
<script type="text/javascript">
  window.onload = function(e){
    window.location.hash = '#myTabContent';
}
</script>
<% } %>
<% if(loadLogo){ %>
  <script type="text/javascript">
    window.scrollTo({ top:0, left:0, behavior: "instant"});
  </script>
<div id="loader">
    <img class="preimg" src="logoG.gif" alt="Loading..">
</div>
<% } %>
<nav class="navbar navbar-dark bg-dark justify-content-between">
  <div class="row">
    <div class="col-sm nav1">
      <img class="LogoF" src="logoFN.png" alt="Logo">
    </div>
    <div class="col-lg nav2">
      <form class="form-inline" method="post" action="/Home">
        <div id="loginData" class="login">
          <div class="form-check form-switch typeDash">
            <label class="form-check-label">Create New account</label>
            <input name="OPT" class="form-check-input" id="OPTbtn" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked="false">
            <label class="form-check-label" >Change User</label>
          </div>
          <!-- <input value="Signup" name="OPT" type="checkbox" id="OPTbtn" class="loginB"  checked data-toggle="toggle" data-on="Signup" data-off="Login" data-onstyle="warning" data-offstyle="info"> -->
  <input name="UN" class="form-control my-auto mr-sm-2 loginF" type="text" placeholder="<%=logFailed?'Invalid Username':'CF ID'%>" autocomplete="on">
  <input type="password" class="form-control my-auto mr-sm-2 loginF" name="PS" value="" autocomplete="off" placeholder="Password">

          <button onclick="submit" class="btn btn-outline-success my-auto my-sm-0" type="submit">Enter</button>
        </div>
      </form>
      <form class="logOut" class="" action="/" method="get">
        <button onclick="submit" class="LogoutBTN" type="submit"><i class="fa-solid fa-arrow-right-from-bracket"></i></button>
      </form>
    </div>
  </div>


</nav>
<div style="<%=profSearched===true?'filter: blur(20px);pointer-events: none;user-select: none':''%>" class="contain" id="blur">

<div class="prof"  style="background-image: linear-gradient(<%=back[Math.floor(Math.random() * back.length)]%>)">
  <div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="C1">
        <img class="avatar" src="<%=U.titlePhoto%>" alt="">
      </div>
    </div>
    <div class="userInfo col-sm">
    <h1><%=U.hasOwnProperty("firstName")?U.firstName:''%>&ensp;<%=U.hasOwnProperty("lastName")?U.lastName:''%></h1>
    <h3><%=U.handle%></h3>
    <h5>Rank : <%=U.rank%> ( Max : <%=U.maxRank%> )</h5>
    <p><%=U.hasOwnProperty("organization")?"Organisation : "+U.organization:''%></p>
    <p><%=U.hasOwnProperty("organization")?"City : "+U.city:''%></p>

    </div>
    <div class="col-sm">
      <h2>Rating : <%=U.rating%> ( Max : <%=U.maxRating%> )</h2>
      <div class="options">
        <a href="#myTabContent"><i class="proico fa-solid fa-circle-info"></i><p class="proico">&ensp;More Info</p>  </a>
      </div>

    </div>
  </div>
</div>
</div>
<div>
<div class="tabs">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link <%=tab===1?'active':''%>" id="Friend-tab" data-toggle="tab" href="#Friend" role="tab" aria-controls="Friend" aria-selected="<%=tab===1?'true':'false'%>">Friends</a>
      </li>
      <li class="nav-item">
        <a onclick="getGraph()" class="nav-link <%=tab===2?'active':''%>" id="Stats-tab" data-toggle="tab" href="#Stats" role="tab" aria-controls="Stats" aria-selected="<%=tab===2?'true':'false'%>">Stats</a>
      </li>
    </ul>
</div>

<div class="tab-content" id="myTabContent">
  <div  class="show active tab-pane Frs fade <%= tab===1?'show active':''%>" id="Friend" role="tabpanel" aria-labelledby="Friend-tab">
    <form class="search user searchtab" action="/Home/Search" method="post">
      <div class="Searchbox">
        <input id="ProfSearch" type="search" class="form-control rounded sbox" name="searchTarget" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <button type="submit"  onclick="submit" class="input-group-text border-0" id="search-addon">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </form>
  <div class="box">
      <% if(!profSearched){ %>
        <div class="sortOption">

          <form class="" action="/Home/sort/1" method="post"><button class="btn btn-light sortBTN" type="submit" onclick="submit"><span><i class="fa-solid fa-arrow-down-a-z"></i>&ensp;Alphabetical Order</span></button></form>
          <form class="" action="/Home/sort/2" method="post"><button class="btn btn-light sortBTN" type="submit" onclick="submit"><span><i class="fa-solid fa-arrow-down-wide-short"></i>&ensp;High to low rating</span></button></form>
        </div>
    <% U.friends.forEach(function(UN,index){ %>
      <form class="tileForm" action="/Home/Search" method="post">
        <div class="tile" style="background-image: linear-gradient(<%=back[Math.floor(Math.random() * back.length)]%>)">
            <input type="hidden" name="host" value="<%=U.handle%>">
            <input type="hidden" name="searchTarget" value="<%=UN%>">
            <input type="hidden" name="FRD" value="<%=UN%>">
            <h3 class="UN"> <%=UN%></h3>
            <button class="infoBTN" type="submit" onclick="submit" name="button"><i class="fa-solid fa-id-card"></i></button>
            <img class="pic" src="<%= U.Fr[UN][1] %>" alt="">
            <hr class="sep">
            <h5 class="CR"><%= U.Fr[UN][0] %></h5>
        </div>
      </form>

    <% })}%>
  </div>
  </div>

  <div class="tab-pane fade <%= tab===2?'show active':''%>" id="Stats" role="tabpanel" aria-labelledby="Stats-tab">
    <div class="box">
      <div class="ratingGraph">
        <canvas id="myChart"></canvas>
      </div>
      <div class="statContainer">
        <% U.stats.forEach(function(set,index){ %>
          <div style="background-image: url('../stat<%=backList[index]%>.png');" class="statBox">
            <h3 class="statField"> <%=set[0]%>  </h3>
            <h5 class="statValue"><%=set[1]%></h5>
          </div>
        <% }) %>
      </div>

    </div>
  </div>
</div>
</div>
</div>
<div style="<%=profSearched===true?'top: 50%;visibility: visible;opacity: 1;transform: 0.5s;width: 40%;':''%>"  class="searchResult">
  <form class="closeSearchedProf" action="/Home/Search" method="post">
    <button class="closeBTN" type="submit" onclick="submit" class="input-group-text border-0" id="search-addon">
      <i class="fa-solid fa-circle-xmark"></i>
    </button>
  </form>
  <% if(profile.result.length>0) {%>
  <%- include('miniprof',{user: profile.result[0],isFriend:isFriend,host:U}) %>
  <% }else if(isErr){ %>
    <div class="err1 mx-auto">
      <img src="er.png" class="errIMG" alt="">
    </div>
    <% } %>


</div>

<script>
  var animation;
  function getGraph()
  {
    const list = <%- JSON.stringify(U.ratingsList) %>;
  const ctx = document.getElementById('myChart');
  const down = (ctx, value) => ctx.p0.parsed.y > ctx.p1.parsed.y ? value : undefined;
  const up = (ctx, value) => ctx.p0.parsed.y < ctx.p1.parsed.y ? value : undefined;
  Chart.defaults.font.size = 14;
  const totalDuration = 1000;
  const delayBetweenPoints = totalDuration / list.length;
  const previousY = (ctx) => ctx.index === 0 ? ctx.chart.scales.y.getPixelForValue(100) : ctx.chart.getDatasetMeta(ctx.datasetIndex).data[ctx.index - 1].getProps(['y'], true).y;
  animation = {
    x: {
      type: 'number',
      easing: 'easeInExpo',
      duration: delayBetweenPoints,
      from: NaN, // the point is initially skipped
      delay(ctx) {
        if (ctx.type !== 'data' || ctx.xStarted) {
          return 0;
        }
        ctx.xStarted = true;
        return ctx.index * delayBetweenPoints;
      }
    },
    y: {
      type: 'number',
      easing: 'easeInExpo',
      duration: delayBetweenPoints,
      from: previousY,
      delay(ctx) {
        if (ctx.type !== 'data' || ctx.yStarted) {
          return 0;
        }
        ctx.yStarted = true;
        return ctx.index * delayBetweenPoints;
      }
    }
  };


  const myChart = new Chart(ctx, {
    type: 'line',
  data: {
    datasets: [{
      data: list,
      borderWidth: 3,
      segment: {
          borderColor: ctx => up(ctx,"#14E114") || down(ctx,"#F04854")
        }
    }]
  },
  options: {
    animation,
    responsive: true,
    plugins: {
      legend: {
        display: false,
      },
      title: {
        display: true,
        text: 'Contest Performance'
      }
    },
      scales: {
            y: {grid: {display: false,borderWidth: 3,borderColor: "#21B6A8"},beginAtZero: true},
            x: {grid: {display: true,borderWidth: 3,borderColor: "#21B6A8"}}
            }
    }
  })
  }
</script>
<%- include('partials/footer') %>
